/* Navbar padding */
.navbar {
  padding-left: 200px;
  padding-right: 200px;
}

/* Responsive adjustments */
@media (max-width: 768px) {
  .navbar {
    padding-left: 10px;
    padding-right: 10px;
  }

  /* Adjust text size for smaller screens */
  .navbar .navbar-brand,
  .navbar .nav-link {
    font-size: 14px;
  }
}
