/* Navbar CSS */
.navbar {
  background-color: transparent;
  transition: background-color 0.3s ease;
}

/* Navbar text color */
.navbar .navbar-brand,
.navbar .nav-link {
  color: white;
}

.navbar .nav-link:hover {
  color: #f0f0f0; /* Slightly lighter color on hover */
}

/* Navbar background on scroll */
.navbar.scrolled {
  background-color: rgba(0, 0, 0, 0.8); /* Dark background color on scroll */
}

/* Navbar padding */
.navbar {
  padding-left: 200px;
  padding-right: 200px;
}

/* Responsive adjustments */
@media (max-width: 768px) {
  .navbar {
    padding-left: 10px;
    padding-right: 10px;
  }

  /* Adjust text size for smaller screens */
  .navbar .navbar-brand,
  .navbar .nav-link {
    font-size: 14px;
  }
}
